<% include ../partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
  <a class="navbar-brand" href="/">SozerDesign</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-btn-group active" id="toAboutNav"><span>Hakkımda </span><i class="fas fa-question-circle"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toSkillsNav"><span>Beceriler </span><i class="fas fa-clipboard-check"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toEducationNav"><span>Eğitim </span><i class="fas fa-seedling"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toPersonalNav"><span>Kişisel </span><i class="fas fa-running"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toPortfolioNav"><span>Çalışmalar </span><i class="fas fa-server"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toContactNav"><span>İletişim </span><i class="fas fa-envelope"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/yittoo" target="_blank"><i class="fab fa-git-square"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div id="index-parent">

<div id="about-section" class="pt-4">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12"><img src="image/yigitsozer.jpg" class="img-fluid img-center border border-white"></div>
            <div class="col-lg-1 col-0"></div>
            <div class="col-lg-6 col-md-12 col-12 mt-md-3 mt-5 pl-5 py-3 align-self-center general-text">
                <h2>Hakkımda:</h2> 
                Merhaba, ismim Yiğit. Burada karşınızda bir "Full Stack" web geliştiricisi, kullanıcı arayüzü ve deneyim tasarımcısı olarak İstanbul merkezli, herhangi şirketten bağımsız çalışıyorum. Talebiniz halinde sizin için özel bir websitesi yaratmaya hazırım.
            </div>
        </div>
    </div>
</div>

<div id="skills-section" class="pt-4" style="display: none;">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2>Beceriler:</h2>
                <p>
                    JavaScript<br>
                    RESTful APIs<br>
                    NodeJS<br>
                    HTML<br>
                    CSS<br>
                    Bootstrap(3&4)<br>
                    MongoDB<br>
                    MYSQL<br>
                    Python<br>
                    Java<br>
                    Photoshop CS
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2><br></h2>
                <p>
                    İyi<br>
                    İyi<br>
                    İyi<br>
                    İyi<br>
                    İyi<br>
                    İyi<br>
                    İyi<br>
                    Yeterli<br>
                    Yeterli<br>
                    Yeterli<br>
                    Yeterli
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2>Diller:</h2> 
                <p>
                    Türkçe<br>
                    İngilizce<br>
                    İspanyolca<br>
                    Almanca
                </p>
                <h3 class="mt-4">Diğer Beceriler:</h3>
                <p>
                    İstatistik<br>
                    SolidWorks<br>
                    Arduino<br>
                    MatLab<br>
                    Ansys Workbench
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2><br></h2> 
                <p>
                    Anadil<br>
                    Uzman<br>
                    Orta<br>
                    Başlangıç
                </p>
                <h2 class="mt-4"><br></h2>
                <p>
                    İyi<br>
                    İyi<br>
                    İyi<br>
                    İyi<br>
                    İyi
                </p>
            </div>
        </div>
    </div>
</div>

<div id="education-section" class="" style="display: none;">
    <div class="container mt-3">
        <div class="row my-5">
            <div class="col-lg-4 col-md-12 col-12 my-auto">
                <img src="image/lightbulb.jpg" class="img-fluid img-center border border-white">
            </div>
            <div class="col-lg-3 col-4 general-text general-text-no-bg">
                <h2>Eğitim:</h2>
                <p>
                    (2009 - 2013)<br><br>
                    (2013 - 2017)<br><br><br>
                    (2016 - 2017)<br>
                </p>
            </div>
            <div class="col-lg-5 col-8 general-text general-text-no-bg">
                <h2><br></h2>
                <p>
                    Marmara Fen Lisesi<br><br>
                    Işık Üniversitesi Mekatronik Mühendisi
                    (İngilizce - Anadal)<br><br>
                    Işık Üniversitesi Yazılım Mühendisi
                    (İngilizce - Yandal)<br>
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-4 col-6 general-text general-text-no-bg">
                <h2>NanoDiploma:</h2>
                <p>
                    (2018)
                </p>
            </div>
            <div class="col-lg-4 col-6 general-text general-text-no-bg">
                <h2><br></h2>
                <p>
                    The Web Developer Bootcamp (Udemy NanoDiploma)
                </p>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <img src="image/education2.jpg" class="img-fluid img-center border border-white">
            </div>
        </div>
    </div>
</div>

<div id="personal-section" class="pt-4" style="display: none;">
    <div class="container">
        <div class="row my-5 py-lg-0 py-3">
            <div class="col-lg-4 col-12 my-auto">
                <img src="image/yigitpersonal.jpg" class="img-fluid img-center border border-white">
            </div>
            <div class="col-lg-8 col-12 general-text general-text-thick-bg">
                <p>
                    <strong>Çocukluk & Ergenlik yılları:</strong><br>
                    İlkokul yıllarından beri farklı aktivitelerde bulundum. Bu aktiviteler çoğunlukla takım oyunu veya danstı. Fenerbahçe Basketbol Altyapıda hafta sonları oynadım ve bir tango, üç de waltz dans şovunu okul hayatımın ilk 8 yılında gerçekleştirdim.
                    <br>Lisede yüzmeye geçip okul takımında 2 sene yer aldım. Sonrasında üniversite sınav stresi ve fen lisesinin getirdiği zorluklar sebebiyle yüzmeyi askıya aldım ve derslerime odaklandım.
                    Lise mezuniyet projemiz olarak amerikan futbol topu fırlatan bir batarya tasarlayıp alakalı yarışmaya katıldık.
                </p>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12 general-text general-text-thick-bg">
                <p>
                    <strong>Üniversite yılları:</strong><br>
                    Tam burslu olarak Işık Üniversitesi'nin Mekatronik Mühendisliği bölümüne 2013'te kabul gördüm. Üniversite yıllarımda dansa olan düşkünlüğümü sürdürüp farklı latin dans şovlarında bulundum. Üniversitedeki üçüncü yılımda bulunduğum dans klübünde yönetim pozisyonunda görev aldım. Bu göreve ek olarak aynı yıl yüksek ortalamam sayesinde yandal olarak Yazılım Mühendisliğine başladım. Mezuniyet projemiz olarak grubum ve ben orman yangınlarını bulup gerekli uyarıları yapacak tam otomasyon dört pervaneli hava aracı geliştirdik.
                </p>
                <p>
                    <br><strong>Genç yetişkin - Şimdi:</strong><br>
                    Mezuniyetten sonra kendi başıma üniversitede biraz öğrenmeye başladığım İspanyolca'yı daha da iyi öğrendim. Sonrasında hayat boyu istediğim Küba gezintisini gerçekleştirdim. Döndükten sonra güneş enerjisi üzerine bir alman firmasında satış mühendisi olarak görev aldım. Fırsatlarımı değerlendirip 1 sene de çalıştıktan sonra sektör değiştirmeye karar verdim. Bunun iki sebebi vardı birincisi Türkiye daha güneş enerjisi için gerekli cesareti gösteremiyordu ikincisi ise web tasarımına olan tutkum ve mükemmele yakın yazabildiğim algoritmalardı. Belli süredir yeteneklerim ve piyasa olanakları sayesinde harika bir iş gerçekleştiriyorum.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="portfolio-section" class="pt-4" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/valkyrie.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Oyun Bölüm Tasarımı</h5>
                        <p class="card-text">Ragnarok Online adlı oyuna açık kaynaklı bölüm tasarımı.</p>
                        <a href="#" target="_blank" class="btn btn-success">Kaynak Eklenicek</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/herokulogo.jpg" alt="heroku">
                    <div class="card-body">
                        <h5 class="card-title">Yelp Camp</h5>
                        <p class="card-text">Tamamen fonksiyonel kamp alanları hakkında bir pilot proje.</p>
                        <a href="https://protected-crag-81477.herokuapp.com/" target="_blank" class="btn btn-primary mt-auto">Demo <i class="fas fa-external-link-alt"></i></a>
                        <a href="https://github.com/yittoo/yelpCamp" target="_blank" class="btn btn-success">Kaynak <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/donut.jpg" alt="donut">
                    <div class="card-body">
                        <h5 class="card-title">Museum of Candy</h5>
                        <p class="card-text">Tek sayfalık bir taslak, gereklilik halinde değiştirilip sunulabilir.</p>
                        <a href="https://github.com/yittoo/museumOfCandy" target="_blank" class="btn btn-success">Kaynak <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/patatap.jpg" alt="patatap">
                    <div class="card-body">
                        <h5 class="card-title">Patatap Benzeri</h5>
                        <p class="card-text">Açık kaynak bir klavye tarayıcı etkileşimli web uygulaması.</p>
                        <a href="https://github.com/yittoo/soundsProject" target="_blank" class="btn btn-success">Kaynak <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact-section" class="pt-4" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="image/aerial-shot.jpg" class="img-fluid img-center border border-white">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 p-5 align-self-center general-text">
                <h2>İletişim:</h2> 
                <p>
                    Aklınızdaki projeyi ne kadar zor olursa olsun hayata geçirmek istiyorsanız benimle iletişime geçin. Küçük veya orta ölçekli şirketler, girişimciler ve kişisel projeleri olan insanlarla çalışıyorum. Bakarsınız ihtiyacınız olan düşünce şekli bende olabilir.
                </p>
                <p>
                    <br>Mail: sozer.work@gmail.com 
                    <br><a href="https://github.com/yittoo" target="_blank">GitHub <i class="fas fa-external-link-alt"></i></a>
                    <br><a href="https://www.linkedin.com/in/yi%C4%9Fit-s%C3%B6zer/" target="_blank">LinkedIn <i class="fas fa-external-link-alt"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>

</div>

<div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body text-center">
        Sağ ve Sol ok tuşları ile gezebilirsiniz.
    </div>
</div>

<% include ../partials/footer %>
