<% include ../partials/header %>

    <p>TR Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam omnis nemo cumque at accusamus earum? Sapiente obcaecati quo repellat ad.</p>


<div class="container"></div>


<% include ../partials/footer %>
