<% include partials/header %>

<% if (language === "en"){ %>
    <p>ENG Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam omnis nemo cumque at accusamus earum? Sapiente obcaecati quo repellat ad.</p>
<% } %>
<% if (language === "tr"){ %>
    <p>TR Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam omnis nemo cumque at accusamus earum? Sapiente obcaecati quo repellat ad.</p>
<% } %>

<div class="container"></div>


<% include partials/footer %>
