<!DOCTYPE html>
<html>
    <head>
        <title>SozerDesign</title>
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div id="hideAll" style="display: none"></div>

    <div id="landing-header">
 		<h1>Welcome to SozerDesign</h1>
        <h4>Website is under production</h4>
		<a href="/en" class="btn btn-lg btn-success">English</a>
		<a href="/tr" class="btn btn-lg btn-success">Türkçe</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <script type="text/javascript">
        document.getElementById("hideAll").style.display = "block";
        window.onload = function() { 
            document.getElementById("hideAll").style.display = "none"; 
        }
    </script>

<% include partials/footer %>