html, body{
    margin: 0 0;
    padding: 0 0;
    height:100%;
}

body{
    font-family: Lato;
    font-weight: 400;
    background-size: cover;
    z-index: -1;
    transition: background-image 2s;
    background-color: rgba(44,44,44,1);
}

.row h1{
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 2px darkgray;
}

h2 {
    font-weight: 700;
}



.bg-tomato-red{
    background-color: #eb2f06;
    opacity: 0.85;
}
.bg-azraq-blue{
    background-color: #4a69bd;
    opacity: 0.85;
}
.bg-aurora-green{
    background-color: #78e08f;
    opacity: 0.85;
}
.bg-squash-blossom{
    background-color: #f6b93b;
    opacity: 0.85;
}
.bg-jalapeno-red{
    background-color: #b71540;
    opacity: 0.85;
}
.bg-spray-blue{
    background-color: #82ccdd;
    opacity: 0.85;
}
.bg-melon-melody{
    background-color: #eb2f06;
    opacity: 0.85;
}


.text-index-intro{
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.py-10{
    padding-top: 6rem!important;
    padding-bottom: 6rem!important;
}

.nav-link{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.container-index {
    margin: 0 3rem;
}

.navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-item{
    font-size: 1.2rem;
}

.img-center {
    margin-left: 0%;
    margin-right: 0%;
}

.jumbotron{
    background-color: rgba(233,234,249,0.6);
}

.toast-body{
    font-size: 0.9rem;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: 700;
}
.general-text p {
    margin-bottom: 0;
}

.main-btn-group:hover{
    opacity: 1;
}

.main-btn-group:hover span {
    -webkit-animation: mainBtnAnimation 1s linear infinite;
    animation: mainBtnAnimation 1.2s linear infinite;
    display: block;
    max-height: 0%;
    font-size: 1.3em;
    transition-duration: 0.5s
    
}

@keyframes mainBtnAnimation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-7deg);
    }
    75% {
        -webkit-transform: rotate(10deg);
        transform: rotate(7deg);
    }
}

.slide-rotate-hor-top {
	-webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
}
@keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
}

.slide-rotate-hor-top-reverse {
	-webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes slide-rotate-hor-top-reverse {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
@keyframes slide-rotate-hor-top-reverse {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
}
  

.slide-rotate-ver-right {
	-webkit-animation: slide-rotate-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-rotate-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-rotate-ver-right {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(150px) rotateY(-90deg);
              transform: translateX(150px) rotateY(-90deg);
    }
}
@keyframes slide-rotate-ver-right {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(150px) rotateY(-90deg);
              transform: translateX(150px) rotateY(-90deg);
    }
}

.slide-rotate-ver-right-reverse {
	-webkit-animation: slide-rotate-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-rotate-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
  
@-webkit-keyframes slide-rotate-ver-right-reverse {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(150px) rotateY(-90deg);
              transform: translateX(150px) rotateY(-90deg);
    }
  }
@keyframes slide-rotate-ver-right-reverse {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(150px) rotateY(-90deg);
              transform: translateX(150px) rotateY(-90deg);
    }
}

.slide-rotate-ver-left {
	-webkit-animation: slide-rotate-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-rotate-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-rotate-ver-left {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(-150px) rotateY(90deg);
              transform: translateX(-150px) rotateY(90deg);
    }
  }
@keyframes slide-rotate-ver-left {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(-150px) rotateY(90deg);
              transform: translateX(-150px) rotateY(90deg);
    }
}

.slide-rotate-ver-left-reverse {
	-webkit-animation: slide-rotate-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-rotate-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes slide-rotate-ver-left-reverse {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(-150px) rotateY(90deg);
              transform: translateX(-150px) rotateY(90deg);
    }
  }
@keyframes slide-rotate-ver-left-reverse {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(-150px) rotateY(90deg);
              transform: translateX(-150px) rotateY(90deg);
    }
}

.general-text {
    font-size: 1.5rem;
    font-family: Varela;
    color: #f7f1e3;
    text-shadow: #1e272e 2px 2px 2px;
    background-color: rgba(233,234,249,0.2);
}

.font-consolas {
    font-family: Consolas;
}

@media screen and (max-width : 768px){
    .general-text  {
      font-size: 0.8rem;
    }
}
@media screen and (max-width : 992px){
    .general-text  {
      font-size: 1.2rem;
    }
}

@media screen and (min-height : 800px){
    #about-section {
      margin-top: 5%;
    }
}

@media screen and (min-height : 800px){
    .toast {
      margin-top: 1%;
    }
}

#about-section {
    z-index: 0;
    /* background-color:rgba(56,173,169,0.3); */
}

#index-main-section{
    padding-top: 5rem;
}

#nav-home-btn{
    padding-bottom: 5px;
}


