html, body{
    margin: 0 0;
    padding: 0 0;
    height:100%;
}

body{
    font-family: Lato;
    font-weight: 400;
    background-image: url(../image/sky.jpg);
    background-size: cover;
    z-index: -1;
}



.bg-tomato-red{
    background-color: #eb2f06;
}
.bg-azraq-blue{
    background-color: #4a69bd;
}
.bg-aurora-green{
    background-color: #78e08f;
}
.bg-squash-blossom{
    background-color: #f6b93b;
}
.bg-jalapeno-red{
    background-color: #b71540;
}
.bg-spray-blue{
    background-color: #82ccdd;
}
.bg-melon-melody{
    background-color: #eb2f06;
}

.text-index-intro{
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.text-index-intro::first-letter{
    font-size: 3rem;
}

.py-10{
    padding-top: 6rem!important;
    padding-bottom: 6rem!important;
}

.nav-link{
    cursor: pointer;
}

.container-index {
    margin: 0 3rem;
}

.navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-item{
    font-size: 1.2rem;
}



#general-text {
    font-size: 1.5rem;
    color: black;
    text-shadow: rgb(117, 171, 185) 2px 2px 2px;
}


#about-section {
    z-index: 0;
    background-color:rgba(56,173,169,0.3);
}

#index-main-section{
    padding-top: 5rem;
}

@media screen and (max-width : 768px){
  #general-text  {
    font-size: 0.8rem;
  }
}
@media screen and (max-width : 992px){
  #general-text  {
    font-size: 1.2rem;
  }
}

.img-center {
    margin-left: 0%;
    margin-right: 0%;
}

.jumbotron{
    background-color: rgba(233,234,249,0.6);
}
