html, body{
    margin: 0 0;
    padding: 0 0;
}

body{
    font-family: Lato;
    font-weight: 400;
}


.bg-tomato-red{
    background-color: #eb2f06;
}
.bg-azraq-blue{
    background-color: #4a69bd;
}
.bg-aurora-green{
    background-color: #78e08f;
}
.bg-squash-blossom{
    background-color: #f6b93b;
}
.bg-jalapeno-red{
    background-color: #b71540;
}
.bg-spray-blue{
    background-color: #82ccdd;
}
.bg-melon-melody{
    background-color: #eb2f06;
}

.text-index-intro{
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.text-index-intro::first-letter{
    font-size: 3rem;
}

#index-initial{
    background-image: url(../image/sky.jpg);
    background-size: cover;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.py-10{
    padding-top: 6rem!important;
    padding-bottom: 6rem!important;
}


