<% include ../partials/header %>



<div id="index-main-section">
    <div class="d-flex justify-content-center align-items-stretch" id="index-initial">
        <div class="col-lg-10 col-md-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 px-0 py-10 text-center text-index-intro main-btn-group bg-tomato-red toAbout" id="toAbout">About:</div>
                <div class="col-lg-3 col-md-4 col-xs-6 px-0 py-10 text-center text-index-intro main-btn-group bg-azraq-blue toSkills" id="toSkills">Skills:</div>
                <div class="col-lg-3 col-md-4 col-xs-6 px-0 py-10 text-center text-index-intro main-btn-group bg-aurora-green toEducation" id="toEducation">Education:</div>
                <div class="col-lg-3 col-md-4 col-xs-6 px-0 py-10 text-center text-index-intro main-btn-group bg-squash-blossom toPersonal" id="toPersonal">Personal Life:</div>
                <div class="col-lg-3 col-md-4 col-xs-6 px-0 py-10 text-center text-index-intro main-btn-group bg-jalapeno-red toPortfolio" id="toPortfolio">Previous Work:</div>
                <div class="col-lg-3 col-md-4 col-xs-6 px-0 py-10 text-center text-index-intro main-btn-group bg-spray-blue toContact" id="toContact">Contact:</div>
            </div>
        </div>
    </div>
</div>

<div id="index-parent">

<div id="about-section" class="d-none pt-5">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center" id="general-text"><h3>About</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="skills-section" class="d-none pt-5">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center" id="general-text"><h3>Skills</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="education-section" class="d-none pt-5">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center" id="general-text"><h3>Education</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="personal-section" class="d-none pt-5">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center" id="general-text"><h3>Personal</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="portfolio-section" class="d-none pt-5">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center" id="general-text"><h3>Portfolio</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-section" class="d-none pt-5">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center" id="general-text"><h3>Contact</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>

</div>

<% include ../partials/footer %>
