<% include ../partials/header %>



<div id="index-main-section">
    <div class="d-flex justify-content-center align-items-stretch" id="index-initial">
        <div class="col-lg-10 col-md-12">
            <div class="row mb-1 mb-md-4"><h1>Hello, I'm Yigit and I'm a full stack web developer</h1></div>
            <div class="row">
                <div class="col-md-4 col-6 px-0 pb-0 py-10 text-center text-index-intro main-btn-group pointer bg-tomato-red toAbout" id="toAbout"><span>About:</span></div>
                <div class="col-md-4 col-6 px-0 pb-0 py-10 text-center text-index-intro main-btn-group pointer bg-azraq-blue toSkills" id="toSkills"><span>Skills:</span></div>
                <div class="col-md-4 col-6 px-0 pb-0 py-10 text-center text-index-intro main-btn-group pointer bg-aurora-green toEducation" id="toEducation"><span>Education:</span></div>
                <div class="col-md-4 col-6 px-0 pb-0 py-10 text-center text-index-intro main-btn-group pointer bg-squash-blossom toPersonal" id="toPersonal"><span>Personal Life:</span></div>
                <div class="col-md-4 col-6 px-0 pb-0 py-10 text-center text-index-intro main-btn-group pointer bg-jalapeno-red toPortfolio" id="toPortfolio"><span>Previous Work:</span></div>
                <div class="col-md-4 col-6 px-0 pb-0 py-10 text-center text-index-intro main-btn-group pointer bg-spray-blue toContact" id="toContact"><span>Contact:</span></div>
            </div>
        </div>
    </div>
</div>



<div id="index-parent">

<div id="about-section" class="d-none pt-4">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12"><img src="image/yigitsozer.jpg" class="img-fluid img-center border border-white"></div>
            <div class="col-lg-1 col-0"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-md-3 mt-5 pl-5 py-3 align-self-center general-text">
                <h2>About:</h2> 
                Hi, I'm Yiğit. Hereby a full stack web developer, UI/UX designer working as a freelancer based in Istanbul. Ready to build you the awesome site you wish.
            </div>
        </div>
    </div>
</div>

<div id="skills-section" class="d-none pt-4">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2>Skills:</h2>
                <p>
                    JavaScript<br>
                    RESTful APIs<br>
                    NodeJS<br>
                    HTML<br>
                    CSS<br>
                    Bootstrap(3&4)<br>
                    MongoDB<br>
                    MYSQL<br>
                    Python<br>
                    Java<br>
                    Photoshop CS
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2><br></h2>
                <p>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Intermediate<br>
                    Intermediate<br>
                    Intermediate<br>
                    Intermediate
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2>Languages:</h2> 
                <p>
                    Turkish<br>
                    English<br>
                    Spanish<br>
                    German
                </p>
                <h2 class="mt-4">Other Skills:</h2>
                <p>
                    Statistics<br>
                    SolidWorks<br>
                    Arduino<br>
                    MatLab<br>
                    Ansys Workbench
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2><br></h2> 
                <p>
                    Native<br>
                    Proficiency<br>
                    Intermediate<br>
                    Beginner
                </p>
                <h2 class="mt-4"><br></h2>
                <p>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good
                </p>
            </div>
        </div>
    </div>
</div>
<div id="education-section" class="d-none pt-4">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center general-text"><h3>Education</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="personal-section" class="d-none pt-4">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center general-text"><h3>Personal</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="portfolio-section" class="d-none pt-4">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center general-text"><h3>Portfolio</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-section" class="d-none pt-4">
    <div class="container">
        <div class="jumbotron mx-md-5 mx-sm-1">
            <div class="d-flex flex-row px-lg-5 px-sm-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12"><img src="image/aerial-shot.jpg" class="img-fluid img-center"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 pl-5 align-self-center general-text"><h3>Contact</h3> dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
            </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body text-center">
        You can use left and right arrow keys to navigate.
    </div>
</div>

<% include ../partials/footer %>
