<% include ../partials/header %>

<div id="index-main-section">

<div class="d-flex justify-content-center align-items-stretch" id="index-initial">
    <div class="col-lg-10 col-md-12">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 px-0 py-10 text-center text-index-intro bg-tomato-red" id="about" >click me:</div>
            <div class="col-md-3 col-sm-4 col-xs-6 px-0 py-10 text-center text-index-intro bg-azraq-blue">asdfgh</div>
            <div class="col-md-3 col-sm-4 col-xs-6 px-0 py-10 text-center text-index-intro bg-aurora-green">asdfgh</div>
            <div class="col-md-3 col-sm-4 col-xs-6 px-0 py-10 text-center text-index-intro bg-squash-blossom">asdfgh</div>
            <div class="col-md-3 col-sm-4 col-xs-6 px-0 py-10 text-center text-index-intro bg-jalapeno-red">asdfgh</div>
            <div class="col-md-3 col-sm-4 col-xs-6 px-0 py-10 text-center text-index-intro bg-spray-blue">asdfgh</div>
        </div>
    </div>
</div>

</div>

<div id="about-section" class="d-none">
    <button class="btn btn-light btn-sm btn-go-back">Go Back</button>

<div class="d-flex flex-row px-5 mx-5 justify-content-center align-items-center">
    <div class="col-md-5"><img src="image/aerial-shot.jpg"></div>
    <div class="col-md-5 bg-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eius laboriosam soluta velit facere delectus recusandae consequatur? Autem nemo aspernatur error dicta, unde, magnam perspiciatis aliquam quia ea, corrupti vero cupiditate? Quibusdam explicabo culpa dignissimos modi voluptatibus fugit facilis neque!</div>
</div>

<div>
<% include ../partials/footer %>
