<% include ../partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
  <a class="navbar-brand" href="/">SozerDesign</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-btn-group active" id="toAboutNav"><span>About </span><i class="fas fa-question-circle"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toSkillsNav"><span>Skills </span><i class="fas fa-clipboard-check"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toEducationNav"><span>Education </span><i class="fas fa-seedling"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toPersonalNav"><span>Personal </span><i class="fas fa-running"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toPortfolioNav"><span>Portfolio </span><i class="fas fa-server"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-btn-group" id="toContactNav"><span>Contact </span><i class="fas fa-envelope"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/yittoo" target="_blank"><i class="fab fa-git-square"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div id="index-parent">

<div id="about-section" class="pt-4">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12"><img src="image/yigitsozer.jpg" class="img-fluid img-center border border-white"></div>
            <div class="col-lg-1 col-0"></div>
            <div class="col-lg-6 col-md-12 col-12 mt-md-3 mt-5 pl-5 py-3 align-self-center general-text">
                <h2>About:</h2> 
                Hi, I'm Yiğit. Hereby a full stack web developer, UI/UX designer working as a freelancer based in Istanbul. Ready to build you the awesome site you wish.
            </div>
        </div>
    </div>
</div>

<div id="skills-section" class="pt-4" style="display: none;">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2>Skills:</h2>
                <p>
                    JavaScript<br>
                    RESTful APIs<br>
                    NodeJS<br>
                    HTML<br>
                    CSS<br>
                    Bootstrap(3&4)<br>
                    MongoDB<br>
                    MYSQL<br>
                    Python<br>
                    Java<br>
                    Photoshop CS
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2><br></h2>
                <p>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Intermediate<br>
                    Intermediate<br>
                    Intermediate<br>
                    Intermediate
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2>Languages:</h2> 
                <p>
                    Turkish<br>
                    English<br>
                    Spanish<br>
                    German
                </p>
                <h2 class="mt-4">Other Skills:</h2>
                <p>
                    Statistics<br>
                    SolidWorks<br>
                    Arduino<br>
                    MatLab<br>
                    Ansys Workbench
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 py-3 general-text font-consolas">
                <h2><br></h2> 
                <p>
                    Native<br>
                    Proficient<br>
                    Intermediate<br>
                    Beginner
                </p>
                <h2 class="mt-4"><br></h2>
                <p>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good<br>
                    Good
                </p>
            </div>
        </div>
    </div>
</div>

<div id="education-section" class="" style="display: none;">
    <div class="container mt-3">
        <div class="row my-5">
            <div class="col-lg-4 col-md-12 col-12 my-auto">
                <img src="image/lightbulb.jpg" class="img-fluid img-center border border-white">
            </div>
            <div class="col-lg-3 col-4 general-text general-text-no-bg">
                <h2>Education:</h2>
                <p>
                    (2009 - 2013)<br><br>
                    (2013 - 2017)<br><br><br>
                    (2016 - 2017)<br>
                </p>
            </div>
            <div class="col-lg-5 col-8 general-text general-text-no-bg">
                <h2><br></h2>
                <p>
                    Marmara Science High School<br><br>
                    Isik University Mechatronics Engineering
                    (English - Bachelor’s)<br><br>
                    Isik University Software Engineering
                    (English - Minor)<br>
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-4 col-6 general-text general-text-no-bg">
                <h2>NanoDegrees:</h2>
                <p>
                    (2018)
                </p>
            </div>
            <div class="col-lg-4 col-6 general-text general-text-no-bg">
                <h2><br></h2>
                <p>
                    The Web Developer Bootcamp (Udemy NanoDegree)
                </p>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <img src="image/education2.jpg" class="img-fluid img-center border border-white">
            </div>
        </div>
    </div>
</div>

<div id="personal-section" class="pt-4" style="display: none;">
    <div class="container">
        <div class="row my-5 py-lg-0 py-3">
            <div class="col-lg-4 col-12 my-auto">
                <img src="image/yigitpersonal.jpg" class="img-fluid img-center border border-white">
            </div>
            <div class="col-lg-8 col-12 general-text general-text-thick-bg">
                <p>
                    <strong>Childhood & Teenage years:</strong><br>
                    Ever since elementary school years I've partaken in various activities, mostly team oriented sports and dancing. I was in Fenerbahce Junior Basketball School on weekends and I've put out a tango show and three waltz shows in my school during my first 8 years. 
                    <br>In high school I took part in swimming and took part in school team for first 2 years of high school then due to curricular difficulties, I focused on my studies that comes due to Science High School. 
                    As my high school graduation project we made a american football cannon that fit the necessities of competition we attended as a team.
                </p>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12 general-text general-text-thick-bg">
                <p>
                    <strong>College Years:</strong><br>
                    I started Işık University with full scholarship, Mechatronics Engineering major in 2013. In my college years I've continued my pursuit for dancing and took part in various shows involving Latin Dances. In my junior year I've started taking part in management of university's dancing team and with my high GPA started minor in Software Engineering. As graduation project my team and I made an automated drone capable of detecting forest fires.
                </p>
                <p>
                    <br><strong>Young Adult - Now:</strong><br>
                    After graduation I self thaught myself spanish very well. I already knew basics from college side lectures which I took as extra. Afterwards I went to Cuba as it was mine life long dream. After my return I've started working in a German Company on Solar Energy Business as a sales engineer.<br>
                    Upon revieving my options and 1 year of work, I've decided to pursue something else which I'm skilled and knowledged at which is web developement. Due to the nature of this business and my skillset, ever since I've been doing wonderful job.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="portfolio-section" class="pt-4" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/valkyrie.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dungeon Design</h5>
                        <p class="card-text">Open source dungeon designs for a game called Ragnarok Online.</p>
                        <a href="#" target="_blank" class="btn btn-success">WillBeLinkedSoon</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/herokulogo.jpg" alt="heroku">
                    <div class="card-body">
                        <h5 class="card-title">Yelp Camp</h5>
                        <p class="card-text">Fully functional web app pilot project I've built during education.</p>
                        <a href="https://protected-crag-81477.herokuapp.com/" target="_blank" class="btn btn-primary mt-auto">Demo <i class="fas fa-external-link-alt"></i></a>
                        <a href="https://github.com/yittoo/yelpCamp" target="_blank" class="btn btn-success">Source <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/donut.jpg" alt="donut">
                    <div class="card-body">
                        <h5 class="card-title">Museum of Candy</h5>
                        <p class="card-text">One page template ready to be theme changed according to necessity.</p>
                        <a href="https://github.com/yittoo/museumOfCandy" target="_blank" class="btn btn-success">Source <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <img class="card-img-top" src="image/patatap.jpg" alt="patatap">
                    <div class="card-body">
                        <h5 class="card-title">Patatap Replica</h5>
                        <p class="card-text">Open source one page keyboard used sound project on canvas.</p>
                        <a href="https://github.com/yittoo/soundsProject" target="_blank" class="btn btn-success">Source <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact-section" class="pt-4" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="image/aerial-shot.jpg" class="img-fluid img-center border border-white">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-md-0 mt-sm-5 p-5 align-self-center general-text">
                <h2>Contact:</h2> 
                <p>
                    To get the project in your head running any means necessary, contact me. I work with start-ups, small-mid tier companies, personal projects. I might just have the mindset you need!
                </p>
                <p>
                    <br>Mail: sozer.work@gmail.com 
                    <br><a href="https://github.com/yittoo" target="_blank">GitHub <i class="fas fa-external-link-alt"></i></a>
                    <br><a href="https://www.linkedin.com/in/yi%C4%9Fit-s%C3%B6zer/" target="_blank">LinkedIn <i class="fas fa-external-link-alt"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>

</div>

<div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body text-center">
        You can use left and right arrow keys to navigate.
    </div>
</div>

<% include ../partials/footer %>
